<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.itcast.jk.mapper.ContractProductMapper">
	<resultMap type="cn.itcast.jk.domain.ContractProduct" id="contractProductRM">
		<id property="id" column="CONTRACT_PRODUCT_ID"/>

		<result property="contractId" column="CONTRACT_ID"/>
		<result property="factoryId" column="FACTORY_ID"/>
		<result property="factoryName" column="FACTORY_NAME"/>
		
		<result property="productNo" column="PRODUCT_NO"/>
		<result property="productImage" column="PRODUCT_IMAGE"/>
		<result property="productDesc" column="PRODUCT_DESC"/>
		<result property="cnumber" column="CNUMBER"/>
		<result property="packingUnit" column="PACKING_UNIT"/>
		<result property="price" column="PRICE"/>
		<result property="amount" column="AMOUNT"/>
		<result property="outNumber" column="OUT_NUMBER"/>
		<result property="finished" column="FINISHED"/>
		<result property="orderNo" column="ORDER_NO"/>
	</resultMap>
	
	<select id="find" parameterType="map" resultMap="contractProductRM">
		select * from CONTRACT_PRODUCT_C
		where 1=1
		and CONTRACT_ID=#{contractId}
	</select>
	
	<select id="get" parameterType="string" resultMap="contractProductRM">
		select * from CONTRACT_PRODUCT_C
		where CONTRACT_PRODUCT_ID=#{pid}
	</select>
	
	<insert id="insert" parameterType="cn.itcast.jk.domain.ContractProduct">
		insert into CONTRACT_PRODUCT_C
		(CONTRACT_PRODUCT_ID,CONTRACT_ID,FACTORY_ID,FACTORY_NAME,PRODUCT_NO,PRODUCT_IMAGE,PRODUCT_DESC,CNUMBER,PACKING_UNIT,PRICE,AMOUNT,OUT_NUMBER,FINISHED,ORDER_NO)
		values
		(
			#{id,jdbcType=VARCHAR},
			#{contractId,jdbcType=VARCHAR},
			#{factoryId,jdbcType=VARCHAR},
			#{factoryName,jdbcType=VARCHAR},
			#{productNo,jdbcType=VARCHAR},
			#{productImage,jdbcType=VARCHAR},
			#{productDesc,jdbcType=VARCHAR},
			#{cnumber,jdbcType=INTEGER},
			#{packingUnit,jdbcType=VARCHAR},
			#{price,jdbcType=DECIMAL},
			#{amount,jdbcType=DECIMAL},
			#{outNumber,jdbcType=INTEGER},
			#{finished,jdbcType=INTEGER},
			#{orderNo,jdbcType=INTEGER}
		)
	</insert>
	
	<update id="update" parameterType="cn.itcast.jk.domain.ContractProduct">
		update CONTRACT_PRODUCT_C
		<set>
			<if test="contractId != null">CONTRACT_ID=#{contractId}</if>
			<if test="factoryId != null">FACTORY_ID=#{factoryId}</if>
			<if test="factoryName != null">FACTORY_NAME=#{factoryName}</if>
			<if test="productNo != null">PRODUCT_NO=#{productNo}</if>
			<if test="productImage != null">PRODUCT_IMAGE=#{productImage}</if>
			<if test="productDesc != null">PRODUCT_DESC=#{productDesc}</if>
			<if test="cnumber != null">CNUMBER=#{cnumber}</if>
			<if test="packingUnit != null">PACKING_UNIT=#{packingUnit}</if>
			<if test="price != null">PRICE=#{price}</if>
			<if test="amount != null">AMOUNT=#{amount}</if>
			<if test="outNumber != null">OUT_NUMBER=#{outNumber}</if>
			<if test="finished != null">FINISHED=#{finished}</if>
			<if test="orderNo != null">ORDER_NO=#{orderNo}</if>
		</set>
		where CONTRACT_PRODUCT_ID=#{id}
	</update>
	
	<delete id="deleteById" parameterType="string">
		delete from CONTRACT_PRODUCT_C
		where CONTRACT_PRODUCT_ID=#{pid}
	</delete>
</mapper>