<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.itcast.jk.mapper.FactoryMapper">
	<resultMap type="cn.itcast.jk.domain.Factory" id="factoryRM">
		<id property="id" column="FACTORY_ID"/>
		<result property="fullName" column="FULL_NAME"/>
		<result property="factoryName" column="FACTORY_NAME"/>
		<result property="contacts" column="CONTACTS"/>
		<result property="phone" column="PHONE"/>
		<result property="mobile" column="MOBILE"/>
		<result property="fax" column="FAX"/>
		<result property="note" column="NOTE"/>
		<result property="inspector" column="INSPECTOR"/>
		<result property="orderNo" column="ORDER_NO"/>
		<result property="state" column="STATE"/>
		
		<result property="createBy" column="CREATE_BY"/>
		<result property="createDept" column="CREATE_DEPT"/>
		<result property="createTime" column="CREATE_TIME"/>
	</resultMap>
	
	<!-- 带条件查询 -->
	<select id="find" parameterType="map" resultMap="factoryRM">
		select * from factory_c
		where 1=1
		<if test="state != null">and state = #{state}</if>
		order by order_no		
	</select>
	
	<!-- 查询一条 -->
	<select id="get" parameterType="string" resultMap="factoryRM">
		select * from factory_c
		where factory_id=#{pid}
	</select>
	
	<!-- 新增 -->
	<insert id="insert" parameterType="cn.itcast.jk.domain.Factory">
		insert into factory_c
		(FACTORY_ID,FULL_NAME,FACTORY_NAME,CONTACTS,PHONE,MOBILE,FAX,NOTE,INSPECTOR,ORDER_NO,STATE,CREATE_BY,CREATE_DEPT,CREATE_TIME)
		values
		(#{id,jdbcType=VARCHAR},#{fullName,jdbcType=VARCHAR},#{factoryName,jdbcType=VARCHAR},#{contacts,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{mobile,jdbcType=VARCHAR},#{fax,jdbcType=VARCHAR},#{note,jdbcType=VARCHAR},#{inspector,jdbcType=VARCHAR},#{orderNo,jdbcType=INTEGER},#{state,jdbcType=VARCHAR},#{createBy,jdbcType=VARCHAR},#{createDept,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP})
	</insert>
	
	<!-- 修改 -->
	<update id="update" parameterType="cn.itcast.jk.domain.Factory">
		update factory_c
		<set>
			<if test="fullName != null">FULL_NAME=#{fullName},</if>
			<if test="factoryName != null">FACTORY_NAME=#{factoryName},</if>
			<if test="contacts != null">CONTACTS=#{contacts},</if>
			<if test="phone != null">PHONE=#{phone},</if>
			<if test="mobile != null">MOBILE=#{mobile},</if>
			<if test="fax != null">FAX=#{fax},</if>
			<if test="note != null">NOTE=#{note},</if>
			<if test="inspector != null">INSPECTOR=#{inspector},</if>
			<if test="orderNo != null">ORDER_NO=#{orderNo},</if>
			<if test="state != null">STATE=#{state},</if>
			
			<if test="createBy != null">CREATE_BY=#{createBy},</if>
			<if test="createDept != null">CREATE_DEPT=#{createDept},</if>
			<if test="createTime != null">CREATE_TIME=#{createTime},</if>
		</set>
		where FACTORY_ID=#{id}
	</update>
	
	<!-- 删除一条byId -->
	<delete id="deleteById" parameterType="string">
		delete from factory_c
		where factory_id=#{pid}
	</delete>
	
	<!-- 批量删除 where factory_id in ('1','2') -->
	<delete id="delete" parameterType="string">
		delete from factory_c
		where factory_id in
		<foreach collection="array" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</delete>
	
	<!-- 批量的状态修改 1）修改状态2）修改多条 -->
	<update id="updateState" parameterType="map">
		update factory_c set state = #{state}
		where factory_id in 
		(
			<foreach collection="ids" item="id" separator=",">
				#{id}
			</foreach>
		)
	</update>
</mapper>